
body { 
padding-top: 50px;
background-color:  #e0e0e0;
	}

/*For footer*/

footer {
  text-align: center;
  color: #999;
  border-top: 1px solid #ccc;
  padding: 2em 0em;
  margin: 3em 0;
}




#center-image {
                width: 50%;
                margin: 0 auto;}


/*nav bar customization*/

.navbar-default{
	               background-color: #337ab7;}

.navbar-default .navbar-nav > li > a {
                                      color: #e0e0e0;
                                      font-size: 17px;}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
                                            	color: #ffffff;
                                              background-color: transparent; 
                                              border-top: 3px solid white; 
                                                                                    
                                              }


/*for drop down*/

 .navbar-default .navbar-nav .open .dropdown-menu>li>a,
  .navbar-default .navbar-nav .open .dropdown-menu {
                                                    background-color: #337ab7;
                                                    color:#e0e0e0;}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
 .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
                                                      background-color: #337ab7;
                                                      color: #ffffff;
                                                      background-color: transparent; 
                                                      border-left: 2px solid white;}
                                                      

 /*customize the pan cake*/

.navbar-default .navbar-toggle {
                                background-color: white;
                                border-color: #337ab7;}

.navbar-default .navbar-toggle:hover {
                                background-color: #ddd;
                                color: #333;}

.navbar-default .navbar-toggle .icon-bar {
                                background-color: #337ab7;}


/*margin from top for login page (for well)*/

.top { margin-top:17px; }


/*panel heding size change*/

.panel-heading {
                font-size: 18px;}


/*Styling jumbotron*/

.jumbotron{

                border: 1px solid #337ab7;}


/*changing home page panels color*/

.panel-green > .panel-heading { 
                              background-color: #006064;
                              color: #fff;}

.panel-blue > .panel-heading { 
                              background-color: #40c4ff;
                              color: #fff;}

.panel-red > .panel-heading { 
                              background-color: #ce3f2e;
                              color: #fff;}


/*Customizing the tab panes*/

.tab-pane {
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd; 
            border-bottom: 1px solid #ddd;
            padding: 0.8em;}


/* whatsapp message button alignment*/

.showbutton {  margin-top: 25px;}

/* whatsapp service button alignment*/

.pnosubmitbutton1{margin-top: 20px;}


/*customize color of hr tag*/

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
    width: 90%;
}


/*customize lable color*/
.anothernolable{ color: red;
}


/*alignment of label*/
.gmail-center
{text-align: center;
font-size: 18px;
color: #b71c1c;}


/*alignment of twitter label*/
.twitter-center
{text-align: center;
font-size: 18px;
color: #40c4ff;}


/*alignment of whatsapp label*/
.whatsapp-center
{text-align: center;
font-size: 18px;
color: #006064;}


/*Customization for combox box*/
select option[default] {
    color: #000;
}

option:first {
    color: red;
}


/**/

#signupHeader{
  background-color: #337ab7;
}

/*for alert*/

